.list-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
}

h1{
    text-align: center;
    color: rgb(250, 138, 138);
    padding:20px;
}