.details-container {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.back {
    position: absolute;
    width: 50px;
}

.back-icon {
    color: #F39D9E;
}

.back-icon:hover {
    color: blue;
}

.parent-ingredients {
    display: flex;
    align-items: center;
    background-color: white;
    width: 75%;
    margin: 10% auto 5% auto;
    padding: 5% 2% 5% 4%;
}

.ingredients-list {
    font-size: 0.5em;
    color: #36685D;
    font-weight: bold;
}



.recipe {
    color: white;
    padding: 5% 5% 10% 5%;
    font-size: 0.9em;
    text-align: center;
}

.add {
    padding-left: 8%;
    width: 25%;
    color: #F39D9E;
}

.arrow:hover {
    color: blue;
}

.child-ingredients {
    padding-left: 5%;
}

@media only screen and (min-width: 688px) {

.card-container.media-details {
width: 90%;
/* Il faudra sûrement mettre margin bottom à 0 quand les commentaires seront ajoutés (mais pas en media query) */
}

.details-container {
    height: 800px;
    margin-top: 5%;
}

.cocktail-card.media-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url("../assets/pattern.jpg");
    background-repeat: repeat-x repeat-y;
    background-size: 8%;
    margin: 0;
    height: 100%;
}

.image.media-details {
    grid-area: 1 / 1 / 4 / 2;
    height: 100%;
    width: 100%;
}

.grand-background.media-details {
    grid-area: 1 / 2 / 2 / 4;
    width: 50%;
    position: unset;
    justify-content: flex-start;
    align-self: start;
}

.parent-background.media-details {
    margin-bottom: 0;
    background-image: none;
}

.child-background.media-details {
    position: unset;
    align-self: start;
}

.parent-ingredients {
    grid-area: 1 / 2 / 3 / 4;
    margin: 0;
    width: 100%;
    height: 60%;
    align-self: center;
    font-size: 1.2em;
    
}

.recipe {
    align-self: flex-end;
    grid-area: 2 / 2 / 4 / 4;
    background-color: #518A8B;
    height: 65%;
}

.basic {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 20px;
}

.add {
    width: 10%;
    padding-left: 5%;
}

.child-ingredients {
    padding: 0;
}

}