.title-background {
    background-color: #36685d;
}

.card-container {
    background-color: rgb(194, 206, 172);
    margin: 10px;
    width: 20%;
    text-align: center;
}

.cocktail-card {
    background-color: #518A8B;
}

.navlink {
    display : block;
}