.card-container {
    margin: 10px;
    width: 90%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ingredients {
    background-color: white;
    width: 75%;
    margin: 10% auto 5% auto;
    padding: 5% 0 5% 0;
}

.ingredients-list {
    font-size: 0.5em;
    padding-left: 40%; /* Penser à enlever le padding à l'ajout du bouton !! */
    color: #36685D;
    font-weight: bold;
}

.recipe {
    color: white;
    padding: 5% 5% 10% 5%;
    font-size: 0.9em;
    text-align: center;
}
