.card-container {
    margin: 10px;
    width: 90%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cocktail-card {
    background-color: #518A8B;
    /* height: 520px; */
    width: 90%; 
    height: 50%;
}



.title-pattern {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 90%;
    margin-bottom: 10px;

    background-image: url("../assets/pattern.jpg");
    background-repeat: repeat-x;
    background-size: 100%;
}

.background-container {
    display: flex;
    justify-content: center;
}

.title-background {
    width: 100%;
    background-color: #36685D;
    box-shadow: 0, 4, 4, 1, rgba(0,0,0,2.5);
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink {
    display : block;
}

.pattern {
    font-size: 20%;
}

@media only screen and (min-width: 688px) {
    .card-container {
        width: 20%;
    }
}