@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

.div {
  max-width: 500px;
  width: 100;
}

.title {
  padding: 5%;
  font-size: 0.25vh;
  font-weight: 700;
  margin-bottom: 25px;
  color: black;
  text-align: center;
}

.question {
  display: flex;
  flex-direction: column;
}

.section {
  display: block;
}

.question .label {
  width: 200px;
  margin-right: 10px;
  font-size: 1rem;
  padding: 5px;
}

#c_content {
  width: 100%;
}
#c_content:focus {
  width: 100%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f39d9e;
  background-size: 30%;
}

.map {
  width: 40%;
  margin: 3%;
  padding: 20px;
  text-align: center;
  height: 200px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 5px 5px 29px #747474, -5px -5px 29px #ffffff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 580px;
  margin: 80px 0px;
  box-shadow: -1px 5px 3px -3px rgba(64, 37, 37, 0.71);
}

@media screen and (min-width: 788px) {
}
