@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Source Sans Pro', sans-serif;
}

form{
    width: 40%;
   margin: auto;
}

.div{
    max-width: 500px;
    width: 100;
}

.title{
    padding: 5%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
    color: black;
    text-align: center;
}

.question{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.section{
    display: block;
}

.question .label{
    width: 200px;
    margin-right: 10px;
    font-size: 14px;

}

#c_content{
    width: 100%;
}



.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map{
    width: 40%;
    margin: 3%;
    padding: 20px;
    text-align: center;
    height: 200px;
    border-radius: 50px;
background: #e0e0e0;
box-shadow:  5px 5px 29px #747474,
             -5px -5px 29px #ffffff;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-input{
    padding: 1% 3%;
   
}

@media screen and (min-width: 788px) {
    
}