.favorites-maindiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.favorites-title {
    text-align: center;
    font-size: 30px;
    margin: 20px;
    color : #f39d9e;
}