.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F39D9E;
    height: 100px;
}

.h-title {
    color: white;
    font-size: 23px;
}

#inputSearch {
    list-style-type: none;
    width: 550px;
    height: 50px;
    position: sticky;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;    
    border-radius: 200px;
    text-align: center;
    outline: none;
    border-color: #EF957A;
}

ul {
    border-radius: 30px;
    list-style-type: none;
    background-color: rgb(250, 250, 250);
}

.result{
    text-align: center;
    width: 100%;
    height: 2px;
    position: sticky;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;    
}

.suggest {
    text-decoration: none;
    color : #F39D9E;
}

.linkKokomo {
    text-decoration: none;
    color: white;
}