.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f39d9e;
  height: 100px;
}

.h-title {
  color: white;
  font-size: 23px;
}

input {
  width: 100%;
  border-radius: 30px;
  text-align: center;
}

.button-bar {
  background-color: violet;
}
