@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500;700&display=swap");

h1,
h2,
h3,
li {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1em;
  font-weight: 700;
  font-family: Roboto;
  text-transform: uppercase;
  text-align: center;
  color: #f6f2f1;
}

p {
  font-family: "Lato", sans-serif;
}
